{% assign raised = 0 -%}
{% for row in site.data.darcovia -%}
  {% assign raised = raised | plus: row.suma -%}
{% endfor -%}
{% assign goal = 10000 -%}
{% assign raised_percent = raised | times: 100 | divided_by: goal -%}
{% if raised_percent > 100 -%}
  {% assign raised_percent = 100 -%}
{% endif -%}
<!DOCTYPE html>
<html lang="{{ site.lang | default: "sk" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}

    <style>
      .donated {
        background: #f3f3f3;
        border-radius: 15px;
        padding: 1ch;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header style="position: static;">
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
      
        <div class="w3-light-grey w3-round-xlarge" style="margin-top: 0.5em">
          <div class="w3-container w3-green w3-round-xlarge" style="width: {{ raised_percent }}%">{{ raised_percent }}%</div>
        </div>
        <p>Získaných <span id="raised"></span> z <span id="goal"></span></p>

        <script>
          const goal = {{ goal }};
          const raised = {{ raised }};
          
          const raisedEl = document.getElementById('raised');
          const goalEl = document.getElementById('goal');
          
          raisedEl.textContent = raised.toLocaleString("sk") + " EUR";
          goalEl.textContent = goal.toLocaleString("sk") + " EUR";
        </script>
        
        <div class="donated">
          <p class="donated__header">Už darovali</p>
          <table class="donated__table">
              <colgroup>
                <col>
                <col>
                <col style="min-width: 8ch;">
              </colgroup>
              <tbody>
                  {% for darca in site.data.darcovia %}
                      <tr class="donated__row">
                          <td class="donated__col">{{ darca.meno }}
                          </td>
                          <td class="donated__col">{{ darca.sprava }}
                          </td>
                          <td class="donated__col">{{ darca.suma }} €
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
          <div class="donated_legend">
              {{ site.data.darcovia | size }}
              darov
          </div>
        </div>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
